@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    97 Vo Van Tan<br />
    Ward 6 <br />
    District 3, Ho Chi Minh City 700000, Vietnam<br />
    <abbr title="Phone">P:</abbr>
    0902 435 699
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:2051012029hoang@ou.edu.vn">2051012029hoang@ou.edu.vn</a>
</address>